raw_data/
raw_data_full/
.python-version
.env

.vscode/
braintumorclassification/ml_logic/mlruns/
braintumorclassification/notebooks/.ipynb_checkpoints/restnet50_aurel-checkpoint.ipynb
build/
dist/
models/

braintumorclassification/.DS_Store
