raw_data/
raw_data_light/
raw_data_test/

.python-version
.env
.vscode/
.env.yaml
.env.yaml
*.pyc

braintumorclassification/ml_logic/mlruns/
braintumorclassification/notebooks/
build/
dist/
models/
braintumorclassification.egg-info/

**/__pycache__/
**/.ipynb_checkpoints/
